@font-face {
    font-family: "HarmonyOS_Sans_SC_Medium";
    src: url('../fonts/HarmonyOS_Sans_SC_Medium.ttf');
}

@font-face {
    font-family: "HarmonyOS_Sans_SC_Black";
    src: url('../fonts/HarmonyOS_Sans_SC_Black.ttf');
}

